*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

body{
    font-family: sans-serif;
}

header{
    /*height: 100px;*/
    background-color: #0084FD;
    color: white;
}

nav{
    justify-content: space-between;
    padding: 1.5rem 0;
}

nav img{
    padding-left: 1.5rem;
}

div.bars{
    font-size: 2rem;
    padding-right: 1.5rem;
}

div.desktop-header-ul{
    display: none;
    padding-right: 1.5rem;
}

ul{
    list-style-type: none;
    margin-top: .35rem;
    align-items: baseline;
}

li{
    padding-right: 1rem;
}

button{
    padding: 0 .8rem;
    border: none;
    border-radius: 20px;
    line-height: 1.8rem;
}

div.col-wrapper{
    flex-direction: column;
    padding: 1.5rem 0;
}

.col{
    color: rgb(84, 84, 84);
    font-weight: 600;
    /*height: 500px;*/
    background-color: #B5DDFF;
    border-radius: 20px;
    margin: 2.5rem 0;
    flex-direction: column;
    align-items: center;
}

.col h1{
    padding-top: 2.5rem;
    font-size: 7rem;
    color: #0084FD;

}

.col h2{
    font-size: 1.8rem;
    color: #0084FD;
    padding: 2.5rem;
    font-weight: 700;
}

.col p{
    line-height: 2rem;
    padding: 0 2.3rem;
    font-size: 1.2rem;
}

.narrow-col p{
    text-align: center;
    margin-bottom: 2.5rem;
}

.wide-col button{
    width: 60%;
    color: white;
    background-color: #0084FD;
    font-size: 1.2rem;
    line-height: 3rem;
    border-radius: 25px;
    letter-spacing: .2rem;
    font-weight: 800;
    margin: 2.5rem;
}

.wide-col img{
    width: 75%;
}

@media screen and (min-width: 768px) {
    nav{
        padding: 1.2rem 0;
    }
}

@media screen and (min-width: 1160px){
    nav{
        padding: .8rem 0;
    }

    .container{
        width: 1000px;
    }

    div.bars{
        display: none;
    }

    div.desktop-header-ul{
        display: block;
    }
}