*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 86%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

body{
    font-family: sans-serif;
}

header{
    /*height: 100px;*/
    background-color: #0084FD;
    color: white;
}

nav{
    justify-content: space-between;
    padding: 1.5rem 0;
}

nav img{
    padding-left: 1.5rem;
}

div.bars{
    font-size: 2rem;
    padding-right: 1.5rem;
}

div.desktop-header-ul{
    display: none;
    padding-right: 1.5rem;
}

ul{
    list-style-type: none;
    margin-top: .35rem;
    align-items: baseline;
}

li{
    padding-right: 1rem;
}

button{
    padding: 0 .8rem;
    border: none;
    border-radius: 20px;
    line-height: 1.8rem;
}

div.col-wrapper{
    flex-direction: column;
    padding: 1.5rem 0;
}

.col{
    color: rgb(84, 84, 84);
    font-weight: 600;
    /*height: 500px;*/
    background-color: #B5DDFF;
    border-radius: 20px;
    margin: 2.5rem 0;
    flex-direction: column;
    align-items: center;
}

.col h1{
    padding-top: 2.5rem;
    font-size: 7rem;
    color: #0084FD;

}

.col h2{
    font-size: 1.7rem;
    color: #0084FD;
    padding: 2.5rem;
    font-weight: 700;
}

.col p{
    line-height: 2rem;
    padding: 0 2.3rem;
    font-size: 1.2rem;
}

.narrow-col p{
    text-align: center;
    margin-bottom: 2.5rem;
}

.wide-col button{
    width: 60%;
    color: white;
    background-color: #0084FD;
    font-size: 1.2rem;
    line-height: 3rem;
    border-radius: 25px;
    letter-spacing: .2rem;
    font-weight: 800;
    margin: 2.5rem;
}

.wide-col img{
    width: 75%;
}

section.jumbo{
    background-color: #9792E4;
    padding-bottom: 3rem;
    /*height: 1300px;*/
}

.first-col{
    color: white;
}

.first-col img{
    max-width: 90%;
    padding: 4.5rem 0;
}

.first-col h1{
    font-size: 2.6rem;
    padding-bottom: 3rem;
    font-weight: 700;
}

.first-col p{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.9rem;
    padding-bottom: 2rem;
}

.second-col{
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 50px;
}

.second-col img{
    max-width: 100%;
}

.second-col h1{
    font-size: 1.7rem;
    font-weight: 600;
    padding: 2rem 0;
}

.second-col p{
    color: rgb(84, 84, 84);
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 0 2rem 3rem 2rem;
    font-style: italic;
    text-align: center;
}

.small-circle{
    color: black;
    background-color: #9792E4;
    border-radius: 50%;
    padding: 1rem 1.2rem;
    margin-bottom: 3rem;
}

.testimonial-wrapper{
    flex-direction: column;
    text-align: center;
}

.testimonial-text{
    /*height: 1000px;*/
    text-align: center;
    margin: 3rem;
}

.testimonial-text h2{
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-weight: 300;
}

.testimonial-text h1{
    color: #9792E4;
    padding-bottom: 2rem;
    font-weight: 600;
    font-size: 2.6rem;
}

.testimonial-text p{
    font-size: 1.5rem;
}

.testimonial-card{
    /*height: 500px;*/
    background-color: #9792E4;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.6rem;
    line-height: 2.3rem;
    border-radius: 20px;
    margin: 1.5rem 0;
}

.testimonial-card img{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    margin: 2rem 0;
}

.testimonial-card p{
    padding: 1.5rem 2rem;
}

.testimonial-card span{
    text-transform: uppercase;
    line-height: 3.6rem;
}

.white-cards-sect{
    background-color: #9792E4;
    /*height: 1300px;*/
}

.white-cards-wrapper{
    flex-wrap: wrap;
}

.white-card{
    background-color: white;
    border-radius: 20px;
    width: 100%;
    margin: 1.5rem 0;
}

.white-card h1,
.white-card h2{
    color: #9792E4;
}

.white-card h1{
    font-size: 4rem;
    padding: 1rem 2rem;
}

.white-card h2{
    font-size: 2rem;
    padding: .5rem 2rem;
}

.white-card p{
    line-height: 2rem;
    padding: .5rem 2rem;
    font-size: 1.2rem;
}

.white-card button{
    background-color: #9792E4;
    color: white;
    line-height: 3rem;
    padding: 0 3.5rem;
    letter-spacing: .3rem;
    font-size: 1.2rem;
    margin: 2rem 0 3rem 2rem;
    border-radius: 25px;
    font-weight: 600;
}

#white-cards-title{
    font-size: 2.8rem;
    font-weight: 600;
    color: white;
    padding: 3rem 0;
    text-align: center;
}

@media screen and (min-width: 768px) {
    nav{
        padding: 1.2rem 0;
    }

    div.col-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    div.col{
        width: 30%;
    }

    div.wide-col{
        align-items: flex-start;
        width: 65%;
    }

    div.wide-col img{
        max-width: 330px;
    }

    div.wide-col button{
        max-width: 250px;
    }

    .first-col h1{
        font-size: 3.2rem;
    }

    .first-col p{
        font-size: .9rem;
    }

    .second-col h1{
        font-size: 1.4rem;
        padding: 1.5rem 0;
    }

    .second-col p{
        font-size: 1rem;
        padding: 0 3rem 1.5rem 3rem;
    }

    div.testimonial-card{
        flex-direction: row;
    }

    div.testimonial-card img{
        width: 220px;
        height: 220px;
        margin-left: 3rem;
    }

    div.testimonial-card p{
        text-align: left;
        font-size: 1.2rem;
    }

    div.white-cards-wrapper{
        justify-content: space-between;
    }

    div.white-card{
        width: calc(50% - 1.5rem);
    }

    div.white-card h1{
        font-size: 3rem;
    }
    
    div.white-card h2{
        font-size: 1.5rem;
    }
    
    div.white-card p{
        font-size: 1rem;
    }
    
    div.white-card button{
        padding: 0 2.6rem;
        line-height: 2.5rem;
        font-size: 1.1rem;
        letter-spacing: .2rem;
    }
}

@media screen and (min-width: 1160px){
    nav{
        padding: .8rem 0;
    }

    .container{
        width: 1000px;
    }

    div.bars{
        display: none;
    }

    div.desktop-header-ul{
        display: block;
    }

    div.wide-col{
        position: relative;
    }

    div.wide-col img{
        max-width: 260px;
        position: absolute;
        bottom: 0;
        right: 25px;
    }

    .col-wrapper .col h1{
        font-size: 5rem;
    }

    .col-wrapper .col h2{
        font-size: 1.4rem;
    }

    .col-wrapper .col p{
        font-size: .9rem;
        max-width: 360px;
    }

    div.container.jumbo-wrapper{
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    div.first-col,
    div.second-col{
        width: 50%;
        max-width: 350px;
    }

    div.second-col{
        margin-left: 3rem;
    }

    div.first-col h1{
        font-size: 1.3rem;
    }

    div.first-col p{
        font-size: .7rem;
        line-height: 1.7rem;
        font-weight: 500;
        padding-right: 2rem;
    }

    div.second-col img{
        max-width: 160px;
        margin-top: 1.5rem;
    }

    div.second-col h1{
        font-size: 1.2rem;
    }

    div.second-col p{
        font-size: .8rem; 
        line-height: 1.8rem;      
    }

    div.testimonial-card img{
        width: 180px;
        height: 180px;
    }

    div.testimonial-card p{
        font-size: 1rem;
    }

    div.white-card{
        width: calc(33% - 2rem);
    }

    div.white-card h1{
        padding: 2rem 2rem .5rem 2rem;
    }
    
    div.white-card h2{
        font-size: 1.3rem;
    }
    
    div.white-card p{
        font-size: .75rem;
        line-height: 1.5rem;
    }
    
    div.white-card button{
        padding: 0 2.3rem;
        line-height: 2.3rem;
        font-size: 1rem;
        letter-spacing: .1rem;
        margin: 1.2rem 0 1.5rem 2rem;
    }
}